:root {
  --white: #fff;
  --primary: #D65720;
  --secondary: #34BEED;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1030px;
  --breakpoint-xl: 1430px;
  --font-family-sans-serif: "Montserrat", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  color: #1C1C1C;
  text-align: left;
  background-color: #F3F2FF;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.3rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 500;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #149C84;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0b584b;
  text-decoration: underline;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

[onclick] {
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  min-height: 100vh;
  background-color: #F9F9F9;
}

.bg-white {
  background-color: #fff;
}

section {
  margin-bottom: 5.625rem;
}

.header {
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: left;
}

.header--underline {
  width: 100%;
  border-bottom: 1px solid #E8E8EB;
  padding-bottom: 1.25rem;
}

.header a:hover {
  text-decoration: none;
}

.page-title {
  font-size: 2.75rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  margin-bottom: 0;
}

.page-subtitle {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 4rem;
}

section > .container > .header {
  margin-bottom: 2.5rem;
}

.btn-secondary {
  color: #fff;
}

.category-links {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #149C84;
  text-transform: uppercase;
}

.category-links a {
  color: #149C84;
  margin-right: 0.125rem;
  border-radius: 99px;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.category-links a:hover {
  color: #0b584b;
  text-decoration: none;
}

.category-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.category-button a {
  font-size: 0.75rem;
  color: #149C84;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
  background-color: rgba(35, 240, 92, 0.1);
  border: 1px solid transparent;
  border-radius: 99px;
  padding: 0.5rem 1rem;
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.category-button a:hover {
  background-color: transparent;
  border-color: #149C84;
  text-decoration: none;
}

.btn-flat {
  background: none;
  border: 2px solid #34BEED;
  color: #000;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.btn-flat:hover {
  background: #34BEED;
  color: #fff;
}

.breadcrumbs {
  padding: 1.125rem 0 3.75rem 0;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.breadcrumbs__link {
  color: rgba(0, 0, 0, 0.5);
}

.breadcrumbs__link:hover {
  color: #34BEED;
  text-decoration: none;
}

.highlight__inner {
  display: inline;
  background: #fff;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}

.article-image {
  position: relative;
}

.article-image:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 59.2592592593%;
}

.article-image__thumbnail {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  z-index: 0;
  overflow: hidden;
  border-radius: 15px;
}

.article-image__thumbnail img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: -webkit-transform 1.2s ease;
  transition: -webkit-transform 1.2s ease;
  -o-transition: transform 1.2s ease;
  transition: transform 1.2s ease;
  transition: transform 1.2s ease, -webkit-transform 1.2s ease;
}

.article-image__cloud {
  position: absolute;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.article-image__cloud--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.article-image__cloud--left img {
  width: 100%;
  max-width: 530px;
  height: auto;
}

.article-image__cloud--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.article-image__cloud--center img {
  width: 100%;
  max-width: 374px;
  height: auto;
}

.article-image__cloud--small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.article-image__cloud--small img {
  width: 100%;
  max-width: 274px;
  height: auto;
}

.article-info {
  color: #404040;
}

.article-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article-info__user {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article-info__user-image {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  border: 1px solid #40404055;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.article-info__user-name {
  font-size: 0.813rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  max-width: 8rem;
}

.article-info__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article-info__date-icon {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  background-image: url("../img/icons/calendar.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}

.article-info__date-text {
  font-size: 0.813rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1;
  text-align: left;
}

.post-cta {
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.post-cta:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 21.9387755102%;
}

.post-cta__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform 1.2s ease;
  transition: -webkit-transform 1.2s ease;
  -o-transition: transform 1.2s ease;
  transition: transform 1.2s ease;
  transition: transform 1.2s ease, -webkit-transform 1.2s ease;
  background-position: bottom center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.post-cta:hover .post-cta__image {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.share-social__text {
  margin-right: 1rem;
}

.share-social__link {
  margin-right: 1rem;
  text-decoration: none;
}

.share-social__link svg path {
  fill: #34BEED;
}

.share-social__link:hover {
  text-decoration: none;
}

.share-social__link:hover svg path {
  fill: #567BFF;
}

#login {
  width: 570px;
  max-width: 100%;
}

#login h1 a,
#login .login h1 a {
  background-image: url("../img/logo.png");
  height: 60px;
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#login form {
  padding: 3.75rem 4.375rem;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#login form .input {
  font-size: 16px;
  padding: 1rem 1.5rem;
  margin: 0 6px 24px 0;
}

#login form input[type=submit] {
  width: 100%;
  padding: 0.875rem 3.625rem;
  font-size: 1.125rem;
  line-height: 1.4rem;
  background: #34BEED;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

#login form input[type=submit]:hover {
  background: #13a8db;
}

#login form input:focus {
  border-color: #eda788;
  outline: 0;
  -webkit-box-shadow: 0 0 0.3rem 0.3rem #ff844f31;
  box-shadow: 0 0 0.3rem 0.3rem #ff844f31;
}

#login form p {
  font-size: 1rem;
}

#login label {
  font-size: 13px;
  margin-bottom: 13px;
}

#login .button.wp-hide-pw {
  height: calc(100% - 24px);
}

@media (min-width: 1030px) {
  .page-subtitle {
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 767.98px) {
  .highlight__inner {
    background: #f3f2ffbd;
    padding: 0.07rem 0.5rem;
  }

  #login form {
    padding: 2rem 1rem;
  }
}

@media (max-width: 575.98px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1030px) and (max-width: 1429.98px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1029.98px) {
  html {
    font-size: 14px;
  }

  .header {
    font-size: 1.875rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 1429.98px) {
  #login {
    padding: 3% 0 0;
  }

  #login form {
    padding: 2.5rem 3rem;
  }
}